*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* overflow: hidden; */
  background: linear-gradient(#f2be5c, #FF8C00);;
}

::selection {
  color: #fff;
  background: black;
}

.container {
  width: 330px;
  background-color: #fff;
  text-align: center;
  border-radius: 1em;
  padding: 2em 0 2em;
}